<ion-header  class="ion-text-center ion-no-border" >
  <ion-toolbar color="primary" >
    
    <ion-title class="header_title"  color="secondary">
      <ion-icon name="paw-sharp" id="paw_title" size="md"></ion-icon>
      Petstore
    </ion-title>
  </ion-toolbar>
</ion-header>







<ion-content color="primary" class="ion-text-center">
  <div>
    <h1 class="pets_title">Pets Disponiveis:</h1>
    <hr />
  </div>
  <!-- Card aonde os dados da API são aprensetados -->
  <ion-card *ngFor="let pet of petsFiltrados" class="card_primary">
    <ion-card-header>
      <ion-card-title class="card_title">{{ pet.type }}</ion-card-title>
      <ion-card-subtitle class="card_price">{{ pet.price | currency:'BRL' }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="card_id">
      Id: {{ pet.id }}
    </ion-card-content>
  </ion-card>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="funnel" size="large"></ion-icon>
    </ion-fab-button>

    <!-- Botões -->
    <ion-fab-list side="top">
      <ion-label class="button_text">Filtrar pelo Preço</ion-label>
      <ion-fab-button color="secondary" (click)="filtrarPorOrdemPreco()">
        <ion-icon name="cash-outline" size="large" ></ion-icon>
      </ion-fab-button>

      <ion-label class="button_text">Filtrar por Nome</ion-label>
      <ion-fab-button color="secondary" (click)="filtrarPorOrdemAlfabetica()">
        <ion-icon name="reader-outline" size="large"></ion-icon>
      </ion-fab-button>
      <ion-label class="button_text">Filtrar por Id</ion-label>
      <ion-fab-button color="secondary" (click)="filtrarPorOrdemId()">
        <ion-icon name="information-sharp" size="large"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
